.problem-item
    .problem-info.problem-info--data
        .text-gray Решение до <br> #{getAnswerEnd()}
        .problem-info__data-diff
            span #{getDiff()} дн.

    .problem-info
        h2 #{reason.name}

    .problem-info
        i.problem-info__status(class=getClassPriority())
        span.text-gray #{reason.category.city_object.name}/#{reason.category.name}

    .problem-info
        p #{full_address}

    .problem-info
        p.text-gray #{district.name} район

    .problem-info#page_region_problem_map
    .problem-info#page_region_ctrl_btn1
    .problem-info#page_region_ctrl_btn2
    .problem-info#page_region_ctrl_btn3

    each performer in performers
        .problem-info
            span.text-gray Исполнитель:
            if (performer.name)
                p #{performer.name}
            if (performer.assignee_full_name)
                div #{performer.assignee_full_name}
            if (performer.assignee_phone)
                div #{performer.assignee_phone}
            if (performer.assignee_email)
                a(href='mailto:' + performer.assignee_email) #{performer.assignee_email}

    if (controller)
        .problem-info
            span.text-gray Контролер:
            if (controller.name)
                p #{controller.name}
            if (controller.assignee_full_name)
                div #{controller.assignee_full_name}
            if (controller.assignee_phone)
                div #{controller.assignee_phone}
            if (controller.assignee_email)
                a(href='mailto:' + controller.assignee_email) #{controller.assignee_email}


    if (coordinator)
        .problem-info
            span.text-gray Координатор:
            if (coordinator.name)
                p #{coordinator.name}
            if (coordinator.assignee_full_name)
                div #{coordinator.assignee_full_name}
            if (coordinator.assignee_phone)
                div #{coordinator.assignee_phone}
            if (coordinator.assignee_email)
                a(href='mailto:' + coordinator.assignee_email) #{coordinator.assignee_email}