span.label-file__icon.label-file__icon--left
    i.material-icons.md-18 insert_drive_file
a.label-file__link(href="" target="_blank") #{file.name || file.original_name}
span.label-file__icon.label-file__icon--right
    i.material-icons.md-18.form-file__delete clear