.feed-list {

}

  .feed-wrapper {
    position: relative;
  }

  .feed-wrapper + .feed-wrapper {
    margin-top: $base-offset;
  }

    .feed {
      position: relative;
      padding: $base-offset / 2 $base-offset;
      background: #eee;
    }

    .feed--reject {
      background-color: #FEF0F0;
    }

      .feed__border {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
      }

      .feed__head {

      }

        .feed__title {
          margin: 0;
          margin-bottom: $base-offset / 3;
          font-size: $font-size-medium;
        }

        .feed__label {

        }

        .feed__date,
        .feed__author {
          font-size: $font-size-small;
          color: $color-gray;
        }

      .feed__message {
        border-top: 1px solid #fff;
        color: #2D2D2D;
        margin-top: $base-offset / 2;
        padding-top: $base-offset / 2;
        padding-bottom: $base-offset / 2;
      }

      .feed__text {
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      .feed__text p {
        margin: ($base-offset / 2) 0;
      }

      .feed__info-block {

      }

        .feed__info {
          margin-bottom: ($base-offset / 2);
        }

        .feed__info .material-icons {
          vertical-align: sub;
        }

      .feed__btns {
        margin: $base-offset 0 ($base-offset / 2);
        text-align: right;
      }