.gallery {
  list-style: none;
  margin: 0 0 $base-offset / 2;
  padding: 0;
}

  .gallery__item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: $base-offset / 2;
  }

  .gallery__item__link {

  }

  .gallery__item__img {
    display: inline-block;
    max-width: 48px;
    max-height: 48px;
  }

  .gallery__item__delete {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    width: 1em;
    height: 1em;
    background: $color-white;
    border-radius: 50%;
    line-height: 1em;
  }

.gallery-files {
  @extend .gallery;
}

  .gallery-files__item {
    margin-top: $base-offset * (2 / 3);
  }

  //TODO rewrite
  .form-image .gallery-files__item {
    margin-bottom: $base-offset * (2 / 3);
    background: $color-blue-light;
  }