form
    .form-group
        input(class="control-sort" type="hidden" name="problem__expected_answer_dt" id="problem__expected_answer_dt" value="problem__expected_answer_dt")
        label.control-label(for="problem__expected_answer_dt")
            | по дате «Ответ до»
            i.material-icons.md-18 sort
    .form-group
        input(class="control-sort" type="hidden" name="assign_dt" id="assign_dt" value="assign_dt")
        label.control-label(for="assign_dt")
            | по дате поступления
            i.material-icons.md-18 sort
    .form-group
        input(class="control-sort" type="hidden" name="problem__last_petition__created_at" id="problem__last_petition__created_at" value="problem__last_petition__created_at")
        label.control-label(for="problem__last_petition__created_at")
            | по дате последнего сообщения
            i.material-icons.md-18 sort
    .form-group
        input(class="control-sort" type="hidden" name="priority" id="priority" value="priority")
        label.control-label(for="priority")
            | по приоритету
            i.material-icons.md-18 sort
    .form-group.text-right
        button.btn.btn-primary(type="submit") Применить