$font-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif
$font-family-base:        $font-family-sans-serif

$font-family-sans-serif-second: Verdana,Geneva,sans-serif

//BOOTSTRAP IMPORT
@import "bootstrap/variables"
@import "bootstrap/mixins"

$font-size-medium: ceil(($font-size-base * 1.13285714286)) !default // ~16px

$base-offset: 18px

$color-white: #FFFFFF
$color-gray: #909090
$color-blue: #3866B4
$color-blue-light: #e9eff5
$color-orange: #fcb975
$color-green: #00e14f
$color-red: #e5294a

// Reset and dependencies
@import "bootstrap/normalize"
// Core CSS
@import "bootstrap/scaffolding.scss"
@import "bootstrap/type.scss"
@import "bootstrap/code.scss"
@import "bootstrap/grid.scss"
@import "bootstrap/tables.scss"
@import "bootstrap/forms.scss"
@import "bootstrap/buttons.scss"
@import "bootstrap/badges.scss"
@import "bootstrap/pager.scss"

@import "selectize.bootstrap3"
@import "photoswipe"
@import "default-skin"

@import "components/h"
@import "components/text"
@import "components/btn"
@import "components/label"
@import "components/control-label"
@import "components/btn-circle"
@import "components/page-loader"
@import "components/notifications"

// IMPORTS
@import "fonts/material-design-icons"
@import "fonts/roboto"
@import "menu/main"
@import "base/footer"
@import "base/header"
@import "draft/items"
@import "problem/problem"
@import "problem/answer"
@import "problem/performer"

@import "feed/feed"
@import "feed/gallery"

// STYLES
body ,html
  font-family: $font-family-base
  background: #ffffff
  height: 100%
  line-height: 1.3
li
  list-style: none

