$font-color-dark: #183c78
$font-color-light: #afefff
$font-color-border: #a2c2ff
$color-btn: #e9f2ff
=border($color, $height)
    border-top: $color $height  solid
    border-bottom: $color $height solid

#footer_region
    background: #1764ff
    height: 211px
    width: 100%
    margin: 15px auto auto auto

.footer-ctrl
    display: block
    margin: auto
    padding-top: 1px

.btn-footer
    display: block
    margin: 20px auto
    width: 100%
    height: 46px
    font-size: 15px
    text-transform: uppercase
    line-height: 200%
    font-weight: 500
    border: none
    background: $color-btn
    color: $font-color-dark
    font-family: Roboto, sans-serif

.footer-rule
    display: block
    margin: auto
    width: 100%
    display: flex
    justify-content: center
    +border($font-color-border, 1px)
    .footer__link
        text-decoration: underline
        display: inline-block
        width: 135px
        padding: 15px 10px
        text-align: left
        font-weight: 500
        color: $font-color-light

.coping
    margin: 10px auto
    text-align: center
    span
        font-size: 12px
        color: #fff