$color: #123672
$color-font: #bcbfc4
=placeholder
  ::-webkit-input-placeholder
    @content
  //:-moz-placeholder
  //  @content
  ::-moz-placeholder
    @content
  //:-ms-input-placeholder
  //  @content




#header_region
  background-image: url(/m/staff/images/header_@1,5x.jpg)
  height: 84px
  background-size: cover
  margin-bottom: 30px
  img
    height: 61px
    width: 68px
    margin: 13px
  .user
    font-size: 14px
    font-weight: 500
    color: #fff
    text-align: right
    text-shadow: 0 1px 1px rgba(0,0,0,.35)
    margin-right: 15px
    text-transform: uppercase
  .head-dropdown
    display: none
    position: absolute
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.35)
    background: #fff
    font-size: 14px
    text-shadow: none
    color: #183c78
    right: 5px
    z-index: 2
    .head-dropdown__item
      display: block
      height: 2.57142857143em
      line-height: 2.57142857143em
      padding: 0 16px
      white-space: nowrap
      background-color: transparent
      transition: background-color .5s ease
  .active
    display: block


.headerDiv
  display: flex
  justify-content: space-between
  align-items: center
.page__head--blue
  color: $color
  font-size: 19px
  font-weight: 500
  line-height: 20px
  margin-top: 0px

  display: block
  &:after
    position: absolute
    margin-top: 6px
    display: block
    width: 48px
    height: 4px
    background: $color
    content: ' '

.arrow--bottom
  &::before
    content: '▼'


.header-page__title
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: 36px


#header_btns_region
  white-space: nowrap

.header-btn
  display: inline-block

.header-btn + .header-btn
  margin-left: 5px

.page__head_ex_name
  margin-bottom: 25px
  font-size: 12px
  color: $color-font

.page-header__search-field
  border: none
  height: inherit
  background: none
  padding: 0 12px
  width: 80%
  &:active
    border: none
    box-shadow: none
    outline: none
  &:focus
    border: none
    box-shadow: none
    outline: none
  &:hover
    border: none
    box-shadow: none
    outline: none
  &[placeholder]
    font-style: italic
    @include placeholder
    font-style: italic

.page-header__search-field-title
  font-size: 20px
  font-weight: 500
  margin-bottom: 13px

.page-header__search-btn
  border: none
  background: none
  .material-icons
    font-size: 12px
  color: #a6a6a6
  padding: 12px
  outline: none

.page-header__search
  border: 1px solid #c4c4c4
  display: flex
  justify-content: space-between
  border-radius: 3px
  margin-bottom: 30px