$draft-font-color-title: #123672
$gray-font-color: #989898
$badges-bg: #a7a7a7
$badge-bg-color: #faae4e
$black-color: #000
$fn-size-lg: 20px
$fn-size-md: 18px
$fn-size-sm: 12px


ul
  padding-left: 0

.show-btn
  display: inline-block
  width: 16%
  position: absolute
  i
    float: right

.reason
  display: inline-block
  width: 80%

.cat
  color: $gray-font-color

.date
  color: $gray-font-color

.title-address
  font-weight: 500

.draft-title
  color: $draft-font-color-title
  font-size: $fn-size-md
  margin-bottom: 15px

.draft-item
  margin-bottom: 30px
  .badge
    vertical-align: middle
    background: $badges-bg
    margin-left: 5px

.performer
  color: $gray-font-color
  .performer-name
    color: $black-color

.full-inform
  display: none

.draft-item__bage--icon
  padding: 0
  height: 15px
  width: 15px
  margin-right: 5px
  background: $badge-bg-color
  .material-icons
    font-size: 14px

.diff
  margin-left: 3px
  color: $color-red
  display: inline-block

.assing-date
  display: inline-block

.problem-num__symbol
  color: $gray-font-color

.title-address
  color: $black-color

.cat-obj
  &:before
    content: ' '
    width: 7px
    height: 7px