.feed(style="background-color: " + meta.bg_color + ";")
    .feed__border(style="background-color: " + meta.border_color + ";")
    .feed__head
        h4.feed__title #{getTitle()}
        .feed__date #{getDate()}
        .feed__author #{getAuthor()}
    .feed__message
        .feed__gallery
        .feed__text !{getBody()}
        .feed__gallery-files
    .feed__info-block
        each info in getInfos()
            .feed__info !{info}