.menu-item
    .menu-item-head #{group}

    li.menu-item-title
        each item in submenus
            .menu-item_list
                a.menu-item_(href=item.link) #{item.title}
                    span.badge #{item.indicator}

