form
    .form-group
        label.control-label(for="status") Статус
        select.form-control(name="status" id="status")
    .form-group
        label.control-label(for="district") Район
        select.form-control(name="district" id="district")
    .form-group
        label.control-label(for="date_from") От
        input.form-control(name="date_from" id="date_from" type="date")
    .form-group
        label.control-label(for="date_to") До
        input.form-control(name="date_to" id="date_to" type="date")
    .form-group.text-right
        button.btn.btn-default(type="reset") Отменить
        button.btn.btn-primary(type="submit") Применить