.footer-ctrl
    a.btn.btn-default.btn-footer(href=path) полная версия портала
.footer-rule
    a.footer__link(href="/m/#/regulations/") Порядок работы с сообщениями
    a.footer__link(href="/m/#/gp/") Пользовательское соглашение
.coping
    span © 2016- #{year} Комитет по информатизации и связи
