from.change-performer
    .form-group
        label.control-label(for="performer") Новый исполнитель
        select.form-control(name="performer" id="performer")
    .form-group
        label.control-label(for="comment") Причина смены исполнителя
        textarea.form-control(name="comment" maxlength="3000" id="comment")
    .form-group.answer-files
        .form-image__item
            .form-image#images
    .form-group
        input(type="hidden" name="detail")
    .answer-save-draft
        button.btn.btn-default.js-draft(type="button") сохранить черновик
    .answer-cotrols
        .answer-cotrols__attach-files
            .material-icons.form-image-btn  attach_file
                input.form-image-input(type='file')
        button.btn.btn-primary.js-send(type="submit") отправить