doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Кабинет исполнителя
        meta(name='description', content='')
        meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
        link(rel="stylesheet" href="css/index.css")
    body
        section#header_region
        section#page_region.container
        section#footer_region.container
        section#notifications_region
        script(type="text/javascript" src="js/main.js")
        include ./js/templates/components/pswp/container