$f-size-item-head: 20px
$f-size-item-title: 19px
$color-item-head: #123672
// todo!!! added and settings paddings & margins
.menu-item
  margin-bottom: 22px
.menu-item-head
  font-size: $f-size-item-head
  margin-bottom: 6px /*WTF&#*/
.menu-item_list
  margin-bottom: 5px
.menu-item-title
  margin-left: 10px
  .menu-item_
    font-size: $f-size-item-title
    color: $color-item-head



