.feed(style="background-color: " + meta.bg_color + ";")
    .feed__border(style="background-color: " + meta.border_color + ";")
    .feed__head
        h4.feed__title #{getTitle()}
        .feed__label.label(style=getLabelStyle()) #{getStatusName()}
        .feed__date #{getDate()}
        .feed__author #{getAuthor()}
    .feed__message
        .feed__gallery
        .feed__text #{getBody()}
        .feed__gallery-files
.feed.feed--reject(style=getRejectBgStyle())
    .feed__border(style=getRejectBorderStyle())
    .feed__head
        .feed__date #{getRejectDt()}
        .feed__author #{getRejectAuthor()}
    .feed__message
        .feed__text !{getRejectBody()}