$btn-bg-color: #3766B4


.answer-satus
  display: inline-block
  .radio
    input
      width: 20px
      top: -10px
.answer-date
  display: none
.create-answer__textarea_answer
  resize: vertical
.answer-cotrols__attach-files
  transform: rotate(-270deg)
  font-weight: 800
.answer-save-draft
  display: flex
  justify-content: flex-end
.answer-cotrols
  display: flex
  justify-content: flex-end
  align-items: center
.answer-cotrols__send
  background: $btn-bg-color
  height: 35px
  color: #fff
.answer-date__title-datapick + .create-answer__title-area-answer + .create-answer__count-sim
  color: $color-gray
.form-image-input
  width: 100%
  height: 100%
  position: absolute
  top: 0
  opacity: 0
//  color: $btn-bg-color
.form-image-btn
  margin-top: 15px
  color: $btn-bg-color
//  opacity: 0

