$header-font-size: 34px

.problem-info + .problem-info
  margin-top: $base-offset / 2

.problem-info--data
  margin-bottom: $base-offset
  display: flex
  justify-content: space-between

.problem-info__data-diff
  font-size: $header-font-size

.problem-info__status
  display: inline-block
  height: 10px
  width: 10px
  background: $color-gray
  border-radius: 50%
  vertical-align: middle
  margin-right: $base-offset / 2

  &.low, &.high
    background: none
    border-radius: 0
    border: 5px solid transparent
    border-bottom: 5px solid transparent
    margin-bottom: $base-offset / 2

  &.low
    border-bottom-color: $color-gray

  &.high
    border-bottom-color: $color-red

#page_region_problem_map
  margin-top: $base-offset