.draft-item
    .draft-title
        //a.reason(href=Routes.executorDraftPath(getProblemId(),problem)) #{reason}
        a.reason(href=Routes.problemIndexPath(problem)) #{reason}
        .show-btn
            i.material-icons.toggle-btn add

    p.title-address
        span #{address}
    p.problem-num
        span
            span.problem-num__symbol №
            b #{problem}
            //span.badge #{status}
    .full-inform
        p.cat-obj
            i.cat-obj--icon-status
            span #{city_object}/#{category}
        .date
            p.assing-date
                span ответ до #{getAnswerEnd()}
                    .diff   #{ getDelta()}
            p.expected-date
                span поступило #{getAnswerStart()}
        p.performer
            span Исполнитель:
            each performer in performers
                br
                span.performer-name #{performer.name}
        p
            span.badge.draft-item__bage--icon
                i.material-icons query_builder
            strong #{status_name}