li.previous(class=isHavePrevious() ? '' : 'disabled')
    if (isHavePrevious())
        a(href=getPrevious()) ← Назад
    else
        span ← Назад
li.next(class=isHaveNext() ? '' : 'disabled')
    if (isHaveNext())
        a(href=getNext()) Вперед →
    else
        span Вперед →