form(enctype="multipart/form-data").create-answer
    .create-answer__title-area-answer.form-group
        label.control-label(for='body') Текст ответа
        textarea.form-control(name="body" id='body')
    .form-group
        .radio
            label.control-label(for='radio-no-interim')
                input#radio-no-interim(type='radio' name="is_interim" value='false')
                | Итоговый
        .radio
            label.control-label(for='radio-interim')
                input#radio-interim(type='radio' name="is_interim" value='true')
                | Промежуточный
    .form-group
        label.control-label(for='interim_date') Планируемая дата выполненния
        input.form-control(type='date' name="interim_date" id='interim_date')
    .form-group.answer-files
        .form-image__item
            .form-image#images
    .form-group
        input(type="hidden" name="detail")
    .answer-save-draft
        button.btn.btn-default.js-draft(type="button") сохранить черновик
    .answer-cotrols
        .answer-cotrols__attach-files
            .material-icons.form-image-btn  attach_file
                input.form-image-input(type='file')
        button(type="submit").btn.btn-primary.js-send отправить