.page-header__search-field-title
    span #{getTitle()}
.page-header__search
    form(style="width:100%;")
        input.page-header__search-field(placeholder='найти проблему')
        button.page-header__search-btn
            | &nbsp;
