.btn-circle {
  display: inline-block;
  height: 41px;
  width: 41px;
  line-height: 40px;
  background: $color-blue-light;
  border-radius: 50%;
  color: $color-blue;
  text-align: center;
}

.btn-circle--active {
  background: $color-blue;
  color: $color-white;
}
