.btn {
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 11px 12px;
}

.btn-default {
  color: $color-blue;
  background-color: transparent;
}

.btn-primary {
  color: $color-white;
  background-color: $color-blue;
}

.btn-action {
  color: $color-white;
  background-color: $color-red;
}