.control-label {
  font-style: italic;
  font-weight: 500;
  color: $color-gray;
}

.control-sort + .control-label {
  font-size: $font-size-medium;
  font-style: normal;
  color: $color-blue;
}

.control-sort + .control-label .material-icons {
  margin-left: $base-offset / 4;
  visibility: hidden;
}

.control-sort-plus + .control-label,
.control-sort-minus + .control-label {
  color: $color-orange;
}

.control-sort-plus + .control-label .material-icons,
.control-sort-minus + .control-label .material-icons {
  visibility: visible;
}

.control-sort-plus + .control-label .material-icons {
  transform: rotate(180deg);
}

.control-sort-minus + .control-label .material-icons {
  transform: rotate(0deg);
}