.label {
  display: inline-block;
  padding: 5px 11px;
  font-family: $font-family-sans-serif-second;
  font-size: $font-size-small;
  font-weight: normal;
  color: #666;
  max-height: 25px;
  max-width: 250px;
  background-color: #eee;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: baseline;
  border-radius: 15px;
}

.label-file {
  display: block;
  position: relative;
  min-width: 100%;
  line-height: 25px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 30px;
}

.label-file__icon {
  position: absolute;
  text-align: center;
  width: 30px;
}

.label-file__icon--left {
  left: 0;
}

.label-file__icon--right {
  right: 0;
}

.label-file__link {

}