.notifications {
  position: absolute;
  top: 104px;
  right: 20px;
  z-index: 5;
  pointer-events: none;
}

.notification {
  position: relative;
  width: 320px;
  padding: 10px 0;
  margin-bottom: 15px;
  border: 2px solid $color-white;
  background: $color-blue;
  color: $color-white;
  text-align: center;
  pointer-events: all;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);;

  a {
    text-decoration: underline;
  }

  &.notification-error {
    background: $color-red;

    a {
      color: $color-white;
    }
  }

  &.notification-success {
    background: $color-green;

    a {
      color: $color-white;
    }
  }

  .action-small {
    display: none;
  }
}