span.label-file__icon.label-file__icon--left
    i.material-icons.md-18 insert_drive_file
a.label-file__link(href=url target="_blank") #{original_name}
span.label-file__icon.label-file__icon--right
    i.material-icons.md-18 file_download