.spb-logo
    a(href="#/")
        img(src="/m/staff/images/logo.svg")

.user
     .dropdown-toggle
         span.arrow--bottom
         span #{getName()}
             .head-dropdown
                 ul.head-dropdown__list
                     li.head-dropdown__item
                        a(href="#") Кабинет исполнителя
                     li.head-dropdown__item
                         a(href="/m/#/problems/my/") Мои сообщения
                     li.head-dropdown__item
                         a(href="/m/#/accounts/bookmarks/") Избранные дома
                     li.head-dropdown__item
                         a(href="/m/#/accounts/profile/") Профиль
                     li.head-dropdown__item
                         a(href="/m/#/accounts/logout/") Выйти